 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


 /* ---------------  VARIÁVEIS RAIZ -----------------*/
 :root {
     --color-primaria: #7380ec;
     --color-perigo: #ff7782;
     --color-sucesso: #41f1b6;
     --color-aviso: #ffbb55;
     --color-branco: #fff;
     --color-infor-escuro: #7d8da1;
     --color-info-claro: #dce1eb;
     --color-escuro: #363949;
     --color-claro: rgba(132, 139, 200, 0.18);
     --color-primaria-variante: #111e88;
     --color-escuro-variante: #677483;
     --color-blackgroud: #f6f6f9;

     --card-border-radius: 2rem;
     --border-radius-1: 0.4rem;
     --border-radius-2: 0.8rem;
     --border-radius-3: 1.2rem;

     --card-padding: 1.8rem;
     --padding: 1.2rem;
 }


 * {
     margin: 0;
     padding: 0;
     outline: 0;
     appearance: none;
     border: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
 }

 html {
     font-size: 14px;
 }

 body {
     width: 100vw;
     height: 100vh;
     font-family: poppins, sans-serif;
     font-size: 0.88rem;
     background: var(--color-blackgroud);
     user-select: none;
     overflow-x: hidden;
     color: var(--color-escuro);
 }

 .container {
     display: grid;
     width: 96%;
     margin: 0 auto;
     gap: 1.8rem;
     grid-template-columns: 14rem auto 23rem;
 }

 a {
     color: var(--color-escuro);
 }

 img {
     display: block;
     width: 100%;
 }

 h1 {
     font-weight: 800;
     font-size: 1.8rem;
 }

 h2 {
     font-size: 1.4rem;
 }

 h3 {
     font-size: 0.87rem;
 }

 h4 {
     font-size: 0.8rem;
 }

 h5 {
     font-size: 0.77rem;
 }

 small {
     font-size: 0.75rem;
 }

 .profile-photo {
     width: 2.8rem;
     height: 2.8rem;
     border-radius: 50%;
     overflow: hidden;
 }

 .texto-silenciado {
     color: var(--color-infor-escuro);
 }

 p {
     color: var(--color-escuro-variante);
 }

 b {
     color: var(--color-escuro);
 }

 .primário {
     color: var(--color-primario);
 }

 .perigo {
     color: var(--color-perigo);
 }

 .sucesso {
     color: var(--color-sucesso);
 }

 .aviso {
     color: var(--color-aviso);
 }

 aside {
     height: 100vh;
 }

 aside .top {
     background: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 1.4rem;
 }

 aside .logo {
     display: flex;
     gap: 0.8rem;
 }

 aside .logo img {
     width: 2rem;
     height: 2rem;
 }

 aside .close {
     display: none;
 }

 /*=============== SIDEBAR ============*/
 aside .sidebar {
     display: flex;
     flex-direction: column;
     height: 86vh;
     position: relative;
     top: 3rem;
 }

 aside h3 {
     font-weight: 500;
 }

 aside .sidebar a {
     display: flex;
     color: var(--color-infor-escuro);
     margin: 2rem;
     gap: 1rem;
     align-items: center;
     position: relative;
     height: 3.7rem;
     transition: all 300ms ease;
 }

 aside .siderbar a span {
     font-size: 1.6rem;
 }

 aside .sidebar a :last-child {
     position: absolute;
     bottom: 2rem;
     width: 100%;
 }

 aside .asidebar a.active {
     background: var(--color-claro);
     color: var(--color-primaria);
     margin-left: 0;
 }

 side .asidebar a.active:before {
     content: "";
     width: 6px;
     height: 100%;
     background: var(--color-primaria);
 }

 aside .sidebar a.active span {
     color: var(--color-primaria);
     margin-left: calc(1rem - 3px);
 }

 aside .sidebar a:hover {
     color: var(--color-primaria);
     margin-left: calc(1rem - 3px);
 }

 aside .sidebar a:hover span {
     margin-left: 1em;
 }

 aside .sidebar .message-count {
     background: var(--color-perigo);
     color: var(--color-branco);
     padding: 2px 10px;
     font-size: 11px;
     border-radius: var(--border-radius-1);
 }

 aside .sidebar .message-count {
     background: var(--color-perigo);
     color: var(--color-branco);
     padding: 2px 10px;
     font-size: 11px;
     border-radius: var(--border-radius-1);
 }

 /*=============MAIN================*/
 main {
     margin-top: 1.4rem;
 }

 main .data {
     display: inline-block;
     background: var(--color-claro);
     border-radius: var(--border-radius-1);
     margin-top: 1rem;
     padding: 0.5rem 1.6rem;
 }

 main .data input[type='date'] {
     background: transparent;
     color: var(--color-escuro);
 }

 .percepcao {
    display: grid;
 }